In [1]:
from expense_tracker import ExpenseTracker

In [2]:
test_tracker = ExpenseTracker(
    excel_path="/Users/colewagner632/PersonalFinancePy/notebooks/example_excel_file.xlsx",
    budget_sheet="BUDGET",
    expense_sheet="EXPENSE_LOG",
)

In [3]:
test_tracker.get_budget()

    category      subcategory  amount
0  Household  Household Items     100
1    Housing             Rent    1000
2       Auto              Gas     100

In [4]:
test_tracker.get_expense_log()

        date   category      subcategory  amount payment_type    note
0 2025-01-31  Household  Household Items      10     Discover  Target
1 2025-02-15    Housing             Rent    1000     Checking     NaN
2 2025-03-01       Auto              Gas      20     Discover   Shell