In [1]:
from expense_tracker import ExpenseTracker

In [2]:
test_tracker = ExpenseTracker(
    excel_path="/Users/colewagner632/PersonalFinancePy/notebooks/example_excel_file.xlsx",
    budget_sheet="BUDGET",
    expense_sheet="EXPENSE_LOG",
)

In [3]:
test_tracker.get_budget()

    category      subcategory  amount_budgeted
0  Household  Household Items            100.0
1    Housing             Rent           1000.0
2       Auto              Gas            100.0

In [4]:
test_tracker.get_expense_log()

        date   category      subcategory  amount payment_type    note
0 2025-01-31  Household  Household Items    10.0     Discover  Target
1 2025-02-15    Housing             Rent  1000.0     Checking     NaN
2 2025-03-01       Auto              Gas    20.0     Discover   Shell

In [5]:
test_tracker.get_expense_report()

,month,category,subcategory,amount_budgeted,total_amount_spent,difference
1,February,Housing,Rent,1000.0,1000.0,0.0
0,January,Household,Household Items,100.0,10.0,90.0
2,March,Auto,Gas,100.0,20.0,80.0