In [1]:
from pathlib import Path

from expense_tracker import ExpenseTracker

PARENT_DIR = Path(Path.cwd()).resolve().parent

In [2]:
test_tracker = ExpenseTracker(
    excel_path=f"{PARENT_DIR}/notebooks/example_input_sheet.xlsx",
    budget_sheet="BUDGET",
    expense_sheet="EXPENSE_LOG",
)

In [3]:
test_tracker.get_budget()

          category          subcategory  amount_budgeted
0        Household      Household Items            100.0
1          Housing                 Rent           1000.0
2             Auto                  Gas            100.0
3    Entertainment   Streaming Services             50.0
4          Savings       Emergency Fund            200.0
5       Healthcare        Medical Bills            100.0
6        Groceries          Supermarket            300.0
7           Dining          Restaurants            150.0
8        Utilities          Electricity            120.0
9   Transportation       Public Transit             80.0
10       Education                Books             50.0
11       Insurance     Health Insurance            200.0
12   Debt Payments  Credit Card Payment            300.0
13        Clothing              Apparel            100.0
14   Personal Care             Haircuts             50.0
15           Gifts       Birthday Gifts             75.0
16          Travel              Flights            500.0
17   Miscellaneous  Unexpected Expenses            100.0

In [4]:
test_tracker.get_expense_log()

,date,category,subcategory,amount,payment_type,note
0,2025-01-01,Utilities,Electricity,375.0,Cash,General expense
1,2025-01-03,Travel,Flights,464.0,Cash,General expense
2,2025-01-06,Utilities,Electricity,374.0,Debit Card,General expense
3,2025-01-15,Housing,Rent,127.0,Mastercard,-
4,2025-01-16,Dining,Restaurants,101.0,Debit Card,General expense
...,...,...,...,...,...,...
78,2025-11-23,Savings,Emergency Fund,496.0,Debit Card,General expense
79,2025-11-25,Transportation,Public Transit,475.0,Bank Transfer,General expense
80,2025-11-28,Groceries,Supermarket,426.0,Cash,General expense
81,2025-12-19,Household,Household Items,404.0,Cash,General expense
82,2025-12-22,Education,Books,133.0,Bank Transfer,General expense

In [5]:
test_tracker.create_grouped_report()

,month,category,subcategory,amount_budgeted,total_amount_spent,difference
61,August,Auto,Gas,100.0,36.0,64.0
57,August,Clothing,Apparel,100.0,94.0,6.0
56,August,Healthcare,Medical Bills,100.0,375.0,-275.0
64,August,Household,Household Items,100.0,99.0,1.0
58,August,Housing,Rent,1000.0,162.0,838.0
...,...,...,...,...,...,...
69,September,Gifts,Birthday Gifts,75.0,275.0,-200.0
68,September,Groceries,Supermarket,300.0,195.0,105.0
67,September,Household,Household Items,100.0,232.0,-132.0
66,September,Housing,Rent,1000.0,287.0,713.0
70,September,Miscellaneous,Unexpected Expenses,100.0,55.0,45.0

In [6]:
test_tracker.create_split_report()[0]

,category,subcategory,month,total_amount_spent,amount_budgeted,difference
0,Auto,Gas,January,335.0,100.0,-235.0
14,Clothing,Apparel,January,0.0,100.0,100.0
13,Debt Payments,Credit Card Payment,January,0.0,300.0,300.0
1,Dining,Restaurants,January,101.0,150.0,49.0
11,Education,Books,January,0.0,50.0,50.0
6,Entertainment,Streaming Services,January,0.0,50.0,50.0
16,Gifts,Birthday Gifts,January,0.0,75.0,75.0
9,Groceries,Supermarket,January,0.0,300.0,300.0
8,Healthcare,Medical Bills,January,0.0,100.0,100.0
2,Household,Household Items,January,10.0,100.0,90.0
3,Housing,Rent,January,145.0,1000.0,855.0
12,Insurance,Health Insurance,January,0.0,200.0,200.0
17,Miscellaneous,Unexpected Expenses,January,0.0,100.0,100.0
15,Personal Care,Haircuts,January,0.0,50.0,50.0
7,Savings,Emergency Fund,January,0.0,200.0,200.0
10,Transportation,Public Transit,January,0.0,80.0,80.0
4,Travel,Flights,January,769.0,500.0,-269.0
5,Utilities,Electricity,January,838.0,120.0,-718.0

In [7]:
test_tracker.append_totals_rows()[0]

,category,subcategory,month,total_amount_spent,amount_budgeted,difference
0,Auto,Gas,August,36.0,100.0,64.0
1,Auto,Total,None,36.0,100.0,64.0
2,Clothing,Apparel,August,94.0,100.0,6.0
3,Clothing,Total,None,94.0,100.0,6.0
4,Debt Payments,Credit Card Payment,August,0.0,300.0,300.0
5,Debt Payments,Total,None,0.0,300.0,300.0
6,Dining,Restaurants,August,0.0,150.0,150.0
7,Dining,Total,None,0.0,150.0,150.0
8,Education,Books,August,0.0,50.0,50.0
9,Education,Total,None,0.0,50.0,50.0
10,Entertainment,Streaming Services,August,0.0,50.0,50.0
11,Entertainment,Total,None,0.0,50.0,50.0
12,Gifts,Birthday Gifts,August,0.0,75.0,75.0
13,Gifts,Total,None,0.0,75.0,75.0
14,Groceries,Supermarket,August,0.0,300.0,300.0
15,Groceries,Total,None,0.0,300.0,300.0
16,Healthcare,Medical Bills,August,375.0,100.0,-275.0
17,Healthcare,Total,None,375.0,100.0,-275.0
18,Household,Household Items,August,99.0,100.0,1.0
19,Household,Total,None,99.0,100.0,1.0
20,Housing,Rent,August,162.0,1000.0,838.0
21,Housing,Total,None,162.0,1000.0,838.0
22,Insurance,Health Insurance,August,0.0,200.0,200.0
23,Insurance,Total,None,0.0,200.0,200.0
24,Miscellaneous,Unexpected Expenses,August,0.0,100.0,100.0
25,Miscellaneous,Total,None,0.0,100.0,100.0
26,Personal Care,Haircuts,August,0.0,50.0,50.0
27,Personal Care,Total,None,0.0,50.0,50.0
28,Savings,Emergency Fund,August,460.0,200.0,-260.0
29,Savings,Total,None,460.0,200.0,-260.0
30,Transportation,Public Transit,August,0.0,80.0,80.0
31,Transportation,Total,None,0.0,80.0,80.0
32,Travel,Flights,August,90.0,500.0,410.0
33,Travel,Total,None,90.0,500.0,410.0
34,Utilities,Electricity,August,0.0,120.0,120.0
35,Utilities,Total,None,0.0,120.0,120.0
36,Total,None,None,1316.0,3575.0,2259.0

In [3]:
test_tracker.write_report_to_excel(
    f"{PARENT_DIR}/notebooks/example_output.xlsx"
)